security:
    encoders:
        AppBundle\Entity\User: bcrypt

    providers:
        doctrine:
            entity:
                class: AppBundle:User
                property: username

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: ~
            pattern: ^/
            form_login:
                login_path: login
                check_path: login_check
                always_use_default_target_path:  true
                default_target_path:  /
            logout: ~

    access_control:
        # Page de login accessible à tout le monde
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }

        # Gestion des utilisateurs : réservé aux admins
        - { path: ^/users, roles: ROLE_ADMIN }

        # Le reste du site : il faut être connecté (ROLE_USER au minimum)
        - { path: ^/, roles: ROLE_USER }

