{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier un utilisateur</h1>

    <a href="{{ path('user_list') }}" class="btn btn-default" style="margin-bottom: 15px;">
        ← Retour à la liste des utilisateurs
    </a>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
